
.headerStyle {
    background: '#333';
    color: '#fff';
    text-align: right;
    padding: '10px';
  }
  
.linkStyle {
    color: '#fff';
    text-decoration: 'none';
  }
  
.titleStyle {
    text-align: left;
}